body {
  font-family: sans-serif;
  padding: 2rem;
  margin: 0;
}

form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 0.5rem 0.75rem;
  background-color: #2a8b37;
  border: none;
  color: white;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;
}

p {
  color: white;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #00ff9d;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: #355677;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li form {
  flex: 1;
  display: flex;
  gap: 0.5rem;
}

li input[type="text"] {
  flex: 1;
}

li button {
  margin-left: 0.3rem;
}
