@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
  font-family: sans-serif;
  padding: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: larger;
}